{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <h1>About</h1>
    <p>The Symfony Product Store is a simple web application using Symfony 3.2</p>
{% endblock %}