{% extends 'base.html.twig' %}

{% block title %}
    Symfony Product Store - Home
{% endblock %}

{% block body %}
    <h1 class="w3-center">Welcome to Symfony Product Store</h1>

    <div class="w3-content w3-section" style="max-width:60%">
        <img class="mySlides" src="https://s-media-cache-ak0.pinimg.com/originals/a9/e9/f3/a9e9f355ef2a76e8935ce8bc5013ca9c.jpg" style="width:100%">
        <img class="mySlides" src="http://www.telegraph.co.uk/content/dam/Travel/ski/piste-ski-advanced-action-large.jpg" style="width:100%">
        <img class="mySlides" src="https://blogpatagonia.australis.com/wp-content/uploads/2017/05/iStock-181754280.jpg" style="width:100%">
    </div>

    {% block javascripts  %}
        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}
                x[myIndex-1].style.display = "block";
                setTimeout(carousel, 5000); // Change image every 2 seconds
            }
        </script>
    {% endblock %}
{% endblock %}
