<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button w3-hover-white"><b>Symfony Product Store</b></a>
        <a href="/about" class="w3-bar-item w3-button w3-hover-white">About</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hover-white">Products</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
                <a href="admin/product" class="w3-bar-item w3-button w3-hover-white">View All</a>
                <a href="admin/product/new" class="w3-bar-item w3-button w3-hover-white">Add new product</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hover-white">Categories</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
                <a href="admin/product-category" class="w3-bar-item w3-button w3-hover-white">View All</a>
                <a href="admin/product-category/new" class="w3-bar-item w3-button w3-hover-white">Add new product</a>
            </div>
        </div>
    </nav>

    <div class="w3-container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
